<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>教评成绩</title>
    <script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/layui/css/layui.css}"/>
</head>
<body>
<div class="layui-form">
    <table class="layui-table">
        <thead>
        <tr>
            <th>学期</th>
            <th>评教成绩</th>
            <th>评教人数</th>
            <th>成绩时间</th>
        </tr>
        </thead>
        <tbody th:if="${selTeaExam.size()>0}">
        <tr th:each="t:${selTeaExam}">
            <td th:if="${t.semester == 0}">上学期</td>
            <td th:if="${t.semester == 1}">下学期</td>
            <td th:if="${t.exam == 0.0}">缺考</td>
            <td th:if="${t.exam != 0.0}" th:text="${t.exam}"></td>
            <td th:if="${t.pcount == null}">缺考</td>
            <td th:if="${t.pcount != null}" th:text="${t.pcount}"></td>
            <td th:text="${#dates.format(t.tetime,'yyyy-MM-dd hh:mm:ss')}"></td>
        </tr>
        </tbody>
        <tbody th:if="${selTeaExam.size()<=0}">
        <tr>
            <td colspan="7">暂无数据</td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider', 'jquery', 'form'], function() {
        var laydate = layui.laydate ,//日期
            laypage = layui.laypage, //分页
            layer = layui.layer, //弹层
            table = layui.table, //表格
            carousel = layui.carousel, //轮播
            upload = layui.upload, //上传
            element = layui.element, //元素操作
            slider = layui.slider,//滑块
            form = layui.form;
    });
</script>
</body>
</html>